body {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
}

.product {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-info {
    flex: 1;
}

.product-thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-thumbnail img {
    margin-left: 20px;
}
